# iothubowner
IOTHUB_NAME=xxx.azure-devices.net
IOTHUB_POLICY_NAME=iotExplorer
IOTHUB_POLICY_KEY=xxxx

# Consumer group and Event Hub settings for IoT Hub
IOTHUB_EVENTHUB_CONNECTION_STRING=
IOTHUB_EVENTHUB_NAME=
CONSUMER_GROUP=